.idea/
sim/out/
__pycache__
botify/log/*
.DS_Store
**/.ipynb_checkpoints
data_seminar_04.json
**/version*
**/sim_env
# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
